body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: #616161;
    margin-top: 200px;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 60px;
}
p{
font-size: 22px;
}
.h1-div {
    /* line-height: 35px; */
    text-align: left;
}
.p-img-div{
    text-align: left;
    line-height: 75px;
}
h2{
    font-size: 40px;
}
.order-button{
    text-decoration: none;
    color: white;
    border: 2px solid orange;
    border-radius: 50px;
    background: linear-gradient(lightsalmon,tomato);
    padding: 35px 75px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}
.section-wrap{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.first-section{
    width: 50%;
    padding-left: 80px;
}
.first-section img{
    width: 100%;
    margin-top: -120px;
}
.second-section img{
    width: 132%;
}
.second-section p{
    width: 350px;
}
.second-section-wrap{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.second-h-p {
    /* line-height: 40px; */
    left: -200px;
    position: relative;
    margin-left: 0px;
    margin-bottom: 70px;
}
#button-id{
    position: relative;
    left: -210px;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
    text-align: center;
}
.third-section-wrap{
    margin-bottom: 150px;
}
.recipe{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 10px;
}
.recipe p{
    width: 700px;
    text-align: center;
    line-height: 35px;
}
.box-item{
    display: flex;
    justify-content: center;
    text-align: left;
    margin-left: 80px;
    width: 90%;
    
    
}
img{
   width: 100%;
}

.shadow{
    box-shadow: 10px 10px 30px gray;
    padding: 50px;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 20px;
}
.follow{
    display: flex;
    justify-content: space-evenly;
    line-height: 5px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 4px 4px 200px grey;
    margin-bottom: 150px;
    padding: 65px;
    margin: 100px
}
.cooking-week{
    text-align: center;
}
.hr{
    border: 2px solid black;
}
.box-recipe{
    display: flex;
    margin-left: 30px
}
.cook-this-week{
    margin-bottom: 150px;
}
..box-recipe img{
    width: 40%;
    height: 300px;
}
.footer-wrap{
    text-align: center;
    height: 250px;
    background-color: black;
}
.footer-wrap p{
    background-color: black;
}