body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
.order-button{
    text-decoration: none;
    color: white;
    border: 2px solid orange;
    border-radius: 10px;
    background: linear-gradient(lightsalmon,tomato);
    padding: 10px 40px;
}
.section-wrap{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.first-section{
    width: 50%;
    padding-left: 80px;
}
.first-section img{
    width: 80%;
}
.second-section img{
    width: 132%;
}
.second-section p{
    width: 350px;
}
.second-section-wrap{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.flexible-container{
    display: flex;
    margin-bottom: 300px;
    text-align: center;
}
.recipe{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.recipe p{
    width: 700px;
    text-align: center;
}
.box-item{
    display: flex;
    justify-content: center;
    text-align: left;
    margin-left: 300px;
    
    
}
img{
   width: 50%;
}
p{
    width: 350px;
}
.shadow{
    box-shadow: 10px 10px 30px gray;
    padding: 50px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}